.homePages {
	.content {
		display: flex;
		align-items: start;
		.div1 {
			width: 100%;
			height: 100vh;
			background-color: greenyellow;
			.divHeader {
				padding-block: 1rem;
				padding-inline: 3rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
				h2 {
					color: aliceblue;
					font-weight: 600;
					font-size: 32px;
				}
				.divHeaderButtonResult {
					display: flex;
					align-items: center;
					background-color: #7d757560;
					img {
						width: 25px;
						height: 25px;
						p {
							color: aliceblue;
							font-size: 17px;
							font-weight: 400;
						}
					}
				}
			}
			.contentsResult {
				display: flex;

				// justify-content: center;

				padding-inline: 3rem;
				padding-block: 1rem;
				.divLebal {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 2rem;
					p {
						font-size: 17px;
						font-weight: 500;
						color: aliceblue;
					}
					.formsResults {
						display: flex;
						flex-direction: column;
						// align-items: center;
						padding-block: 14px;
						padding-inline: 14px;
						border-radius: 12px;
						background-color: #cbbbbb;
						width: 100%;
						height: 200px;
						gap: 8px;
						.p {
							color: #635f5f;
							font-size: 17px;
							font-weight: 500;
						}
						.divForm {
							width: 100%;
							height: 40px;
							background-color: aliceblue;
							display: flex;

							padding-left: 11px;

							.textIsInputLabel {
								color: black;
								font-size: 17px;
								font-weight: 400;
								display: flex;
								align-items: center;
								justify-content: space-evenly;
								// gap: 2rem;
							}
						}
						.buttonDev {
							display: flex;
							justify-content: end;
							position: relative;
							top: 3.5rem;
						}
					}
				}
			}
		}
		.div2 {
			width: 100%;
			height: 100vh;
			background-color: rgb(85, 85, 229);
			.divDispleyResult {
				padding-block: 1rem;
				padding-inline: 2rem;
				.Map {
					display: flex;
					justify-content: space-between;
					.icon1 {
						// position: relative;
						// left: 38%;
						width: 9.4rem;

						border-radius: 50%;
						height: 9.4rem;
					}
				}
			}
		}
	}
}
