.inputs {
	width: 85%;
	height: 38px;
	padding-left: 10px;
	border: none;
	background-color: transparent;
	color: black;
	font-size: 17px;
	font-weight: 400;
	// &:active {
	// 	border: none;
	// }
}
